:root{
    /* definimos variable con
    bold tamañoletra/Espacio entre lineas-- */
    --fontBase: 'Poppins', sans-serif;
    --headLine2: bold 59px/96px var(--fontBase);  
    --headLine5: bold 24px/39px var(--fontBase);
    --bodyP:  bold 16px/25px var(--fontBase);
    --green :#42E2B8;
    --purple: #310A90;
    --white: #FFFFFF ;
    --gray: #858C94;
}


body{
    background-color: var(--green);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: var(--purple);
}

.hero-content h2{
    font: var(--headLine2);
}

.hero-content h5{
    font: var(--headLine5);
}

.hero-content p{
    font: var(--bodyP);
}